@font-face {
    font-family: 'pwscratchymedium';
    src: url('../resources/pwscratchy-webfont.woff2') format('woff2'),
         url('..resources/pwscratchy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
